* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.carousel-container {
  margin-top: 50px;
  /* Add space above the carousel */
  padding: 25px;
  /* Optional: Add padding inside the container */
}